<div class="text-layout">
    <h2>Decimal pipe y porcentajes</h2>
    <p>
        Pipes incluidos en Angular en el Commom Module.
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas" subheader="del presente año">
            <i class="pi pi-dollar"></i>
            ventasNetas |number:'1.2-2':
            <hr>
            {{(ventasNetas + 1000000) |number:'1.2-2'}}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ventas Brutas" subheader="del presente año">
            (ventasNetas + 2000000) | currency:'EUR':'symbol-narrow':'1.4-4'
            <hr>
            {{(ventasNetas + 2000000) | currency:'EUR':'symbol-narrow':'1.4-4'}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ganancia porcentual" subheader="del presente año">
            porcentaje|percent:'1.2-2'
            <hr>
            {{porcentaje|percent:'1.2-2'}}
        </p-card>
    </div>
</div>