<div class="animate__animated animate__fadeIn">
    <h2>Buscar por región <small>{{regionActiva |titlecase}}</small></h2> 
    <h5>Selecciona tu región</h5>
    <hr>
</div>

<div class="row animate__animated animate__fadeIn">
    <div class="col col-sm">
        <!--1) forma de agregar clases:  [class.btn-primary] = "region === regionActiva" -->

        <!--2) forma de agregar con el ngClass[ngClass]="{
            'btn-info': regionActiva === region,
            'btn-outline-primary': regionActiva !== region
        }" -->   
        <button type="buttom" 
        *ngFor="let region of regiones"
        [class] = getClaseCSS(region)
        class="m-1"
        (click)="activarRegion(region)">
            {{region | titlecase}}
        </button>
    </div>

    <div class="row animate__animated animate__fadeIn" *ngIf="paisesDeRegion.length > 0  ">
        <div class="col">
            <app-pais-tabla [paises]="paisesDeRegion"></app-pais-tabla>
        </div>
    </div>
</div>