<div class="text-layout">
    <h2>Pipes Basicos</h2>
    <p>
        Pipes incluidos en Angular en el Commom Module.
    </p>
</div>
    <div class="grid">
        <div class="col-4 md:col-6 sm:col-12">
            <p-card header="uppercase" [subheader]="nombreLower |uppercase">
                {{nombreLower | uppercase}}
            </p-card>
        </div>
        <div class="col-4  md:col-6 sm:col-12">
            <p-card header="lowercase" [subheader]="nombreUpper |lowercase">
                {{nombreLower | lowercase}}
            </p-card>
        </div>
        <div class="col-4  md:col-6 sm:col-12">
            <p-card header="titlecase" [subheader]="nombreCompleto |titlecase">
                {{nombreLower | titlecase}}
            </p-card>
        </div>
    </div>


<div class="text-layout">
    <h2>Date | Fecha</h2>
    <p>
        Pipe para mostrar las fechas.
    </p>

<div class="grid">
    <div class="col-6 md:col-6 sm:col-12">
        <p-card>
            <ul>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date:'short'</li>
                <li>fecha | date:'long'</li>
                <li>fecha custom | date:'dd/MM/yyyy'</li>
            </ul>
            <hr>
            <ul>
                <li>fecha | date:'long':'GMT-4'</li>
                <li>fecha | date:'long':'GMT-5'</li>
                <li>fecha | date:'long':'GMT-5':'fr-CA'</li>
            </ul>
        </p-card>
    </div>
    <div class="col-6 md:col-6 sm:col-12">
        <p-card>
            <ul>
                <li>{{fecha}}</li>
                <li>{{fecha | date}}</li>
                <li>{{fecha | date:'short'}}</li>
                <li>{{fecha | date:'long'}}</li>
                <li>{{fecha | date:'dd/MM/yyyy'}}</li>
            </ul>

            <hr>
            <ul>
                <li>{{fecha | date:'long':'GMT-4'}}</li>
                <li>{{fecha | date:'long':'GMT-5'}}</li>
                <li>{{fecha | date:'long':'GMT-5':'fr-CA'}}</li>
            </ul>
        </p-card>
    </div>
</div>
