<!-- parentesis () es para emitir o escuchar eventos -->
    <!-- llaves cuadradas [] es para establecer propiedades al objeto -->
    <!-- [()] Emite y recibe eventos o propiedades al mismo tiempo, two way data binding -->
<h1>Dragon ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <app-personajes ></app-personajes>
         <!-- Los pipes | sirven paratransformar visualmente la información -->
    </div>

    <div class="col"><app-agregar [nuevo]="nuevo"></app-agregar>
    </div>
</div>