<div *ngIf="!pais; else divPais" class="alert alert-info">
    espere por favor...
</div>


<ng-template #divPais>
    <div class="row">
         <div class="col-12">
            <h2>Pais: <small>{{pais.name}}</small> </h2>
         </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Bandera:</h3>
            <img [src]="pais.flag" alt="Bandera" class="img-thumbnail">
        </div>
        <div class="col-5">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población:</strong>
                    {{pais.population | number}}
                </li>
                <li class="list-group-item">
                    <strong>Capital:</strong>
                    {{pais.capital}}
                </li>
                <li class="list-group-item">
                    <strong>Región:</strong>
                    {{pais.region}}
                </li>
                <li class="list-group-item">
                    <strong>Idioma principal:</strong>
                    {{pais.languages[0].name}}
                </li>
            </ul>
        </div>
        <div class="col-3">
            <h3>Limita con:</h3>
            <ul class="list-group">
                <li *ngFor="let item of pais.borders" class="list-group-item">
                    <strong>{{item}}</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Traducciones</h3>
            <span *ngFor="let item of pais.translations | keyvalue" class="badge bg-primary m-1">{{item.key | uppercase}}: {{item.value}}</span>
        </div>
    </div>
</ng-template>
